body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color: #ffffff;
}
header, footer {
    background-color: #f3f70e;
    text-align: center;
}
img {
    width: 350px;
    height: auto;
}